body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #337AB7;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #337AB7;
    color: #FFF;
}

.welcome-section{
  width: 100%;
  height: 100%;
}

.welcome-section .content{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: justify;
    color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url("../images/Ballot-Light.jpg");
}

.predictions-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #000;
}
.whoisfoxy-section{
  width: 100%;
  height: 100%;
}

.whoisfoxy-section .content2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
    color: azure;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    text-justify: inter-word;
    background-image: url("../images/symposium.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-color: darkgray;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #ff0000;
}
.navbar-default {
    background-color: #000;
    border-color: #000;
}
.navbar-default .navbar-nav > li > a {
    color: #ffff00;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: black;
    background-color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display:flow-root;
    z-index: 100;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: #000;
} 

.listindent
{
padding-left:50px;
}

