jupyter
pyzmq
scipy
pandas
matplotlib
statsmodels
scikit-learn
seaborn
nltk
gensim
sympy
bokeh
networkx
theano
requests
beautifulsoup4
plotly
sqlalchemy
flask
flask-api
flask-cors
flask-restful
httplib2
pathlib2
jsonschema
requests
